:root {
  --vp-c-brand-1: #0b6bcb;
  --vp-c-brand-2: #0a5cad;
  --vp-c-brand-3: #094f93;
  --vp-c-brand-soft: rgba(11, 107, 203, 0.14);
}

.vp-doc a {
  text-decoration: none;
  border-bottom: 1px solid var(--vp-c-brand-1);
}
